@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

Body {
    background-color: black;
    font-family: 'Baloo 2';
    color: white;
}

input {
    background-color: azure;
}
